{%  load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <title>
            {% block title %}{% endblock %}
        </title>

        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="true">

        <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Covered+By+Your+Grace|Sue+Ellen+Francisco">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css' media="screen">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
        <link rel="stylesheet" type="text/css" href="{% static 'election/stylesheet.css' %}"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One" type="text/css">
    </head>


<body>

<nav>
		<ul class="sidebar">
            <a href="{% url 'voter_signup' %}" >Voter SignUp</a>
            <br>
            <a href="{%  url 'voter_login' %}" >Voter SignIn</a>
            <br>
            <a href="{% url 'candidate_signup' %}">Candidate SignUp</a>
            <br>
            <a href="{%  url 'candidate_login' %}">Candidate SignIn</a>
        </ul>

</nav>

<div class="active">
    <span>Welcome to NITK elections</span>
    <span><img  class="center" src="/media/nitklogo.png"></span>
</div>

{% block body %} {% endblock %}
</body>
</html>