{% load static %}
{% load staticfiles %}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'election/forms.css' %}"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

</head>
<body>
    <div id="home_button">
        <a href="{% url 'home' %}" style="font-family:Open Sans Condensed,Serif;color: black;text-decoration: none;"><b>HOME</b><img src='/media/home.png' style="height: 32px;width: 32px;"></a>
    </div>
    <div>
            <canvas id="homecanvas"></canvas>
    </div>
        <script type="text/javascript" src="{% static "js/styling.js" %}"></script>

    <div class="form-style-8">
          <h2 style="color: white">Candidate Signup</h2>
            {% if error_message %}
                <p style="color: red;"><strong>{{ error_message }}</strong></p>
            {% endif %}
          <form method="post" role="form" action=""  enctype="multipart/form-data">
                 {% csrf_token %}
                 {% include 'form_template.html' %}
                  <br>
              <input type="submit" value="SUBMIT" />
                  <br>

          </form>
        <br>
            <div class="panel-footer">
                Already have an account? <a href={% url "candidate_login" %}>Click here</a> to log in.
            </div>
    </div>

</body>
</html>

