{% extends 'base3.html' %}
{% load static   %}
{% load staticfiles %}
{% block title %}Home{% endblock %}

{% block body %}
    <div id="mySidenav" class="sidenav">

        {% if not user.is_authenticated %}
        <span><a href="{% url 'candidate_signup' %}" style="color: black;text-decoration: none" id="c_signup">Candidate Signup<img src='/media/signup2.png' style="height: 32px;width: 32px;"></a></span>
        <span><a href="{% url 'voter_signup' %}" style="color: black;text-decoration: none" id="v_signup">Voter Signup<img src='/media/voter_signup1.png' style="height: 32px;width: 32px;"></a></span>
        <span><a href="{% url 'candidate_login' %}" style="color: black;text-decoration: none" id="c_login">Candidate Login<img src='/media/login.png' style="height: 32px;width: 32px;"></a></span>
        <span><a href="{% url 'voter_login' %}" style="color: black;text-decoration: none"id="v_login">Voter Login<img src='/media/voter_login.png' style="height: 32px;width: 32px;"></a></span>
        {%  endif%}

        <span><a href="{% url 'candidate_profiles' %}"style="color: black;text-decoration: none" id="candidate">View Candidates<img src='/media/candidate_profiles.png' style="height: 32px;width: 32px;"></a></span>
        <span><a href="{% url 'results' %}" style="color: black;text-decoration: none" id="result">Election Results<img src='/media/results.png' style="height: 32px;width: 32px;"></a></span>
         {% if user.is_authenticated %}
            {% if user.is_voter %}
                <span><a href="{% url 'voter_details' pk=user.voter.pk %}"style="color: black;text-decoration: none" id="myprofile"><img src='/media/myprofile.png' style="height: 32px;width: 32px;">My Profile</a></span>
                {% if not user.voter.has_voted %}
                    <span><a href="{% url 'vote_preview' %}" style="color: black;text-decoration: none" id="votepreview"><img src='/media/vote.png' style="height: 32px;width: 32px;">Vote</a></span>
                {% endif %}
            {% endif %}

    {#     {% else %}#}
    {#        <li><a href="{% url 'admin:login' %}">Admin</a></li>#}
         {% endif %}
         {% block list %}{% endblock %}

</div >


    <div class ="card">

    </div>
    <div>
        <canvas id="homecanvas"></canvas>
    </div>
    <script type="text/javascript" src="{% static "js/styling.js" %}"></script>
{%  endblock %}