
{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block body %}

{#    <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">#}
{#      <button class="w3-bar-item w3-button w3-large"#}
{#      onclick="w3_close()">Close &times;</button>#}
{#      <a href="{% url 'voter_signup' %}" class="w3-bar-item w3-button">Voter SignUp</a>#}
{#      <a href="{%  url 'voter_login' %}" class="w3-bar-item w3-button">Voter SignIn</a>#}
{#      <a href="{% url 'candidate_signup' %}" class="w3-bar-item w3-button">Candidate SignUp</a>#}
{#      <a href="{%  url 'candidate_login' %}" class=""w3-bar-item w3-button">Candidate SignIn</a>#}
{#    </div>#}


{#    <div class="container">#}
{#    <br>#}
{#    <div id="navigation">#}
{#        <div class="row">#}
{#            <div class="col-sm-12">#}
{#            <a href="{% url 'candidate_signup' %}" class="btn btn-lg btn-primary" role="button">Sign up as Candidate</a>#}
{#            </div>#}
{#             </div>#}
{#        <br>#}
{#            <div class="row">#}
{#                <div class="col-sm-12">#}
{#                    <a href="{%  url 'voter_signup' %}" class="btn btn-lg btn-primary" role="button">Sign up as Voter</a>#}
{#                </div>#}
{#            </div>#}
{#        <br>#}
{#            <div class="row">#}
{#                <div class="col-sm-12">#}
{#                    <a href="{%  url 'candidate_login' %}" class="btn btn-lg btn-primary" role="button">Log in as Candidate</a>#}
{#                </div>#}
{#            </div>#}
{#        <br>#}
{#            <div class="row">#}
{#                <div class="col-sm-12">#}
{#                    <a href="{%  url 'voter_login' %}" class="btn btn-lg btn-primary" role="button">Log in as Voter</a>#}
{#                </div>#}
{#            </div>#}
{#    </div>#}
{#    </div>#}
{% endblock %}
