 body
        {
        background: linear-gradient(#33cccc,#99ff33);
        background-repeat:no-repeat;
        background-attachment: fixed;
        height: 100%;
        margin:0;
        padding:0;
 }



nav {
  background-color: black;
  height: 100vh;
  width: 200px;
  position: fixed;
  transform: translateX(-200px);
  transition: transform 0.3s ease-in-out;
}

nav:after {
  content: '';
  background: black;
  height: 80px;
  width: 70px;
  position: absolute;
  right: -40px;
  top: 40px;
  border-radius: 50%;
}

nav:hover {
  transform: translateX(0px);
}



.active {
    color: black;
    font-size: 50px;
    font-family: Lobster, serif;
    text-align: center;
    margin-top: 10px;
}
.center {
    display: block;
    margin-left: 70%;
    margin-right: auto;
    margin-top:-80px;
    width:10%;
}

.sidebar a{
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    color: deepskyblue;

}

.sidebar a:hover{
    color: greenyellow;
}



